@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    margin: 10px 0px;
}
ul {
    padding-left: 20px;
}
/*
 * Center the main div giving strict width
 * */
.app {
    margin: 0 auto;
    width: 980px;
}
.title-main {
    color: #446CB3;
}
.title-explore {
    color: #BDC3C7;
}
.description-main {
    color: #BDC3C7;
}
.header {
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}
section {
    margin: auto;
    clear: both;
}
div.sidebar {
    width: 160px;
    float: left;
    padding-right: 20px;
}
ul#list {
    height:250px;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul#list > li {
    padding: 5px 0px;
    border-bottom: 1px solid #f1f1f1;
}
ul#list > li:last-child {
    border-bottom: 0px;
}
div.sidebar > p > a,
section > p > a,
ul#list > li > a {
    color: #369;
    text-decoration: none;
}
div.sidebar > p > a:active,
div.sidebar > p > a:hover,
div.sidebar > p > a:focus,
section > p > a:active,
section > p > a:hover,
section > p > a:focus,
ul#list > li > a:active,
ul#list > li > a:hover,
ul#list > li > a:focus {
    text-decoration: underline;
}
div.main {
    min-height:400px;
    margin-left: 15%;
}
.footer {
    color: #888888;
    padding: 50px 0px;
    border-top: 1px solid #dddddd;
    margin-top: 50px;
}

.footer a,
.footer a:visited {
    color: #888888;
    text-decoration: underline;
}

.footer a:active,
.footer a:hover,
.footer a:focus {
    text-decoration: none;
}

/*
 * Fixing text field height
 * */
.dalliance .loc-field {
    padding: 2px 6px;
}

.dalliance .tier-tab {
    border: 3px solid #B4B4B4 !important;
}

.dalliance .tier-tab.active {
    border: 3px solid #666666 !important;
}

.dalliance .track-label {
    top: 4px !important;
}

.dalliance h4 {
    cursor: move !important;
}

.dalliance .table-condensed th, .dalliance .table-condensed td {
    padding: 4px 10px !important;
}

.dalliance table td {
    word-break: break-all;
}
